


  <div fxLayout="row" fxLayoutAlign="end center" >
    <button mat-button routerLink="/create"><mat-icon>add</mat-icon> Create New</button>
  </div>

<div  class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter issues">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="datasource" matSort class="mat-cell" style="background-color:#F9F3DF;">
    ng update @angular/cli @angular/core
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row" >{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nom et Prénom</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cin">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Num Cin</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.cin}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="createDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Create Date</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.createDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cv">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CV</mat-header-cell>
      <mat-cell *matCellDef="let row"> 
      
        <a href={{row.cv}}> <mat-icon>picture_as_pdf</mat-icon> </a> 
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.type}}</mat-cell>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" >
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" >
          <mat-icon aria-label="Example icon-button with a heart icon"></mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" >
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" >
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

 </div>
